<!DOCTYPE html>
<html>
    <head>
        <title>Blackjack</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <!-- <script src="/static/js/protected.js"></script> -->
    </head>
    <body>
        <h1 class="row">♠♣♥♦ Poker Game ♦♥♣♠</h1>
        <h2 class="usr">Welcome to Blackjack {{.Username}}!</h2>
    </body>
</html>