<!DOCTYPE html>
<html>
    <head>
        <title>Blackjack</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <script src="../../static/js/game.js"></script>
        <!-- <script src="/static/js/protected.js"></script> -->
    </head>
    <body>
        <h1>♠♣♥♦ Poker Game ♦♥♣♠</h1>
        <h2 class="usr">♠♣♥♦ Welcome to Blackjack! ♠♣♥♦</h2>
        <input type="button" id="btnStart" value="Start&#128077;">
        <input type="button" id="btnHit" value="Hit&#128074;" >
        <input type="button" id="btnStand" value="Stand&#9995;">

        <div class="table"><p>Beat the dealer's hand without going over 21.<br> Both you and
            the dealer start with two cards, but one of the dealer's cards
          is hidden till then end.<br> If you go over 21 you bust, and the
            dealer wins regardless of their hand</p>
        </div>
    </body>
</html>