<!DOCTYPE html>
<html>
    <head>
        <title>Blackjack</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <script src="../../static/js/game.js"></script>
        <!-- <script src="/static/js/protected.js"></script> -->
    </head>
    <body>
        <h2 class="usr">♠♣♥♦ Welcome to Blackjack! ♠♣♥♦</h2>
        <input type="button" id="btnStart" value="start">
        <input type="button" id="btnHit" value="hit" >
        <input type="button" id="btnStand" value="stand">
    </body>
</html>