<!DOCTYPE html>
<html>
    <head>
        <title>Protected Page</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
        <script src="/static/js/getcontent.js"></script>
        <script src="/static/js/gamebuttons.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <script src="/static/js/gamebutton.js"></script>
    </head>
    <body>
        <h1>♠♣♥♦ Poker Game ♦♥♣♠</h1>
        <h2 class="usr">Lobby Code: {{.TableID}}</h2>
                <h1 hidden id="hidden_username_tag" >{{.Username}}</h1>
                <h1 hidden id="hidden_seatnumber_tag" >{{.SeatNumber}}</h1>
                <h1 hidden id="hidden_funds_tag">{{.Funds}}</h1>
                <div class="table">

                <ul id="game_details" >
                    <li>
                        <span>Pot: <span id="money_in_pot" ></span></span>
                    </li>
                    <li>
                        <span>Player Making Move: <span id="current_player_making_move" ></span></span>
                    </li>
                    <li>
                        <span>Community Cards: <span id="community_cards"></span></span>
                    </li>
                </ul>

                <div class="row">
                <ul id="player_list">
                    <div class="column">
                        <br>
                    <li id="seat_1" >
                        <ul><li><img src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%"; /> Seat 1:</li>
                            <li id="username_1"></li>
                            <li id="funds_1"></li>
                            <li id="state_1"></li>
                            <li id="money_in_pot_1"></li>
                            <li id="cards_1"></li>
                        </ul>
                    </li>
                    <li id="seat_2" >
                        <ul><li><img id="flipimg" src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%";/>Seat 2:</li>
                            <li id="username_2"></li>
                            <li id="funds_2"></li>
                            <li id="state_2"></li>
                            <li id="money_in_pot_2"></li>
                            <li id="cards_2"></li>
                        </ul>
                    </li>
                    </div>
                    <br>
                    <div class="column">
                    <li id="seat_3" >
                        <ul><li><img id="flipimg" src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%";/> Seat 3:</li>
                            <li id="username_3"></li>
                            <li id="funds_3"></li>
                            <li id="state_3"></li>
                            <li id="money_in_pot_3"></li>
                            <li id="cards_3"></li>
                        </ul>
                    </li>
                    <li id="seat_4" >
                        <ul><li><img src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%";/> Seat 4:</li>
                            <li id="username_4"></li>
                            <li id="funds_4"></li>
                            <li id="state_4"></li>
                            <li id="money_in_pot_4"></li>
                            <li id="cards_4"></li>
                        </ul>
                    </li>

                </div>
                <div class="column">

                    <li id="seat_5" >
                        <ul><li><img src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%";/> Seat 5:</li>
                            <li id="username_5"></li>
                            <li id="funds_5"></li>
                            <li id="state_5"></li>
                            <li id="money_in_pot_5"></li>
                            <li id="cards_5"></li>
                        </ul>
                    </li>
                    <li id="seat_6" >
                        <ul><li><img id="flipimg" src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%";/> Seat 6:</li>
                            <li id="username_6"></li>
                            <li id="funds_6"></li>
                            <li id="state_6"></li>
                            <li id="money_in_pot_6"></li>
                            <li id="cards_6"></li>
                        </ul>
                    </li>
                </div>
                <div class="column">
                    <li id="seat_7" >
                        <ul><li><img id="flipimg" src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%";/> Seat 7:</li>
                            <li id="username_7"></li>
                            <li id="funds_7"></li>
                            <li id="state_7"></li>
                            <li id="money_in_pot_7"></li>
                            <li id="cards_7"></li>
                        </ul>
                    </li>
                    <li id="seat_8" >
                        <ul><li><img src="../../static/media/cardgames/chair.png"
                            width="12%"; height="12%";/> Seat 8:</li>
                        <li id="username_8"></li>
                            <li id="funds_8"></li>
                            <li id="state_8"></li>
                            <li id="money_in_pot_8"></li>
                            <li id="cards_8"></li>
                        </ul>
                    </li>
                </ul>
                </div>
                </div>
                </div>
                <br>
                </div>
                <br>

        <span class="problem_message" id="general_message_span"></span>
        <span class="problem_message" id="problem_message_span"></span>

                <form id="player_state_button_form" class="table" >
                <fieldset>
                        <input type="button" id="ready_button" value="Ready Up! &#x1F44D" /> 
                </fieldset>
                </form>

            <form id="game_buttons_form" class="table">
            <fieldset>
                <input type="button" id="fold_button" value="Fold" />
                
                <input type="button" id="check_button" value="Check" />
                <input type="button" id="call_button" value="Call" />

                <input type="button" id="raise_button" value="Raise" />
                
                <!-- value in label will alternate between Call and Raise depending on chips -->
                <label for="amount" >Amount:</label>
                <input type="text" id="amount" name="amount" value="0.0" />
                <i><img src="../../static/media/cardgames/chips.png"
                        width="10%"; height="10%"; /></i>
            </fieldset>
            </form>
            </div>
    </body>
</html>