<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Royal Runner</title>
        <link rel="stylesheet" href="../../static/css/royalRunnerStyle.css">
    </head>
    <body>
        <h1>Royal Runner</h1>
        <canvas id="main"></canvas>
            <img src="../../static/media/sideScrollerAssets/background.png" alt="" id="background" hidden>
            <img src="../../static/media/sideScrollerAssets/diamond.PNG" alt="" id="diamond" hidden>
            <img src="../../static/media/sideScrollerAssets/heart.png" alt="" id="heart" hidden>
            <img src="../../static/media/sideScrollerAssets/hills.png" alt="" id="hills" hidden>
            <img src="../../static/media/sideScrollerAssets/platform.png" alt="" id="platform" hidden>
            <img src="../../static/media/sideScrollerAssets/platformSmallTall.png" alt="" id="platformSmallTall" hidden>
            <img src="../../static/media/sideScrollerAssets/spriteRunLeft.png" alt="" id="spriteRunLeft" hidden>
            <img src="../../static/media/sideScrollerAssets/spriteRunRight.png" alt="" id="spriteRunRight" hidden>
            <img src="../../static/media/sideScrollerAssets/spriteStandLeft.png" alt="" id="spriteStandLeft" hidden>
            <img src="../../static/media/sideScrollerAssets/spriteStandRight.png" alt="" id="spriteStandRight" hidden>
        <script src="../../static/js/royalRunner.js" type="module"></script>
    </body>
</html>