<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="welcome" >
            <h1 class="row">♠♣♥♦ Poker Game ♦♥♣♠</h1>
            <h2>Log In</h2>
        </div>
        <p class="srtinfo"><span>Log into your account here</span></p>
        <form class="login" action="" method="post">
            <fieldset>

                <legend>Login</legend>
                <label for="username_ID" >Username:</label>
                <input type="text" id="username_ID" name="username" placeholder="Username" ><br><br>
            

                <span id="usernameError"></span>

                <label for="password_ID" >Password:</label>
                <input type="password" id="password_ID" name="password" placeholder="Password">

                <span id="passwordError"></span>

                <input type="submit">

                <span id="formError">{{.GeneralProblem}}</span>
                
            </fieldset>
        </form>
    </body>
</html>