* {
  box-sizing: border-box;
}
body {
    background-image: url("../media/cardgames/flyingcards.png");
    height:100%;
    background-position: center;
    background-repeat: repeat;
    font-family: 'Jockey One', sans-serif;
    background-size: 500px;
  }
  
  h1 {
     color:#b8061a;
     font-family: 'Jockey One', sans-serif;
     margin: 0 auto;
     text-align: center;
     text-shadow: 2px 2px black;
     border-color: black;
     border-style: solid;
     border-width: thin;
  
  }

  #game_details {
      border: solid black .1em;
      background-color: grey;
  }
  
  .problem_message {
      display: block;
      text-align: center;
      background-color: lightgrey;
  }

  h2 span, p span {
    background-color: white;
  }

  .login {
    background-color: lightgray;
  }
  
  form {
    width: 80%;
  }
  input[type=text], input[type=password] {
    border: 1.5px solid #b8061a;
  
  }
  input[type=submit], input[type=button] {
      font-family: 'Jockey One', sans-serif;
  }
  input[type=submit]:hover,input[type=button]:hover {
    background-color: #b8061a;
    color: white;
  }
  
  .instructions {
    font-size: 13px;
  }
  .blackjack, .poker, .adventure {
    float: right;
  }
  
  div.forms {
    display: block;
    text-align: center;
  }
  form {
      background-color: lightgrey;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      border: solid black .1em;
      text-align: left;
  }
  .cards {
    position: relative;
  }
  .usr {
    color: black;
    font-family: 'Jockey One', sans-serif;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px #d42436;
  }
  
  h2 {
      text-shadow: 1px 1px #d42436;
      text-align: center;
  }
  
  form {
      margin-left: 30%;
      margin-right: 30%;
      width: 40%
  }
  .srtinfo {
      text-align: center;
      background-color: white;
  }
  


  .column {
    float: left;
    width: 25%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .table {
    background-color:#008447;
    text-align: center;
  }

  #flipimg {
    transform: scaleX(-1);
  }

  .items {
    list-style-type: none;
  }